<!DOCTYPE html>
<html>
<head>
  <title>GoalsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<% if logged_in? %>
  <%= button_to "Sign Out", session_url, method: :delete %>
  <%= current_user.username %>
<% else %>
  <%= button_to "Sign In Page", new_session_url, method: :get %>
<% end %>

</body>
</html>
